<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
    {{#if parentUrl}}
    <p><a href="{{parentUrl}}">../</a></p>
    {{/if}}
    {{{body}}}
    <script src='/scripts/script.js'></script>
  </body>
</html>
