<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Главная</title>
  <style>
    body {
      font-family: monospace;
    }
  </style>
</head>

<body>
  <h1>Commits</h1>
  <ul>
    <li><a href="{{parentUrl}}">../</a></li>
    {{#each commits}}
    <li><a href="{{this.url}}">{{this.hash}} {{this.subject}}</a></li>
    {{/each}}
  </ul>
</body>

</html>